<form id="form_logical">
<fieldset>
<legend>logical_list</legend>
	<table border="0" cellpadding="0" cellspacing="10px">	
		<tbody>
			<tr>
				<td><%: ID %></td>
				<td><%: State %></td>
				<td><%: % progress %></td>
				<td><%: RAID level %></td>
				<td><%: Size %></td>
			</tr>

			<% for logical_id, des in pairs( logical_list ) do %>
			<tr>
				<td><%= logical_id %></td>
				<td><%= des.state %></td>
				<% local progress = ""
					for task_id, des2 in pairs( task_list ) do
						if tostring( logical_id ) == des2.where then
							progress = des2.progress
						end
					end %>
				<td><%= progress %></td>
				<td><%= des.level %></td>
				<td><%= des.capacity %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<div>
		<p>
			<input type="submit" />
		</p>
	</div>
</fieldset>
</form>
