<% if message_error then %>
	<p class="error"><%= message_error %></p>
<% end %>

<form id="form_physical" method="get" action="<%=luci.dispatcher.build_url("san", "einarc", "logical_add")%>">
<fieldset>
	<legend>physical_list</legend>
	<table border="0" cellpadding="0" cellspacing="10px">	
		<tbody>
			<tr>
				<td><%: Check %></td>
				<td><%: ID %></td>
				<td><%: State %></td>
				<td><%: Size %></td>
			</tr>
			<% for physical_id, description in pairs( physical_list ) do %>
			<tr>
				<td><input type="checkbox" name="drives" value="<%= physical_id %>" /></td>
				<td><%= physical_id %></td>
				<td><%= description.state %></td>
				<td><%= description.size %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
  	<div>
		<p><%: RAID level %>: 
			<select name="raid_level" size="1">
				<% for _, raidlevel in ipairs( raidlevels ) do %>
				<option value="<%= raidlevel %>"><%= raidlevel %></option>
				<% end %>
			</select>
		</p>
	</div>
	<div>
		<p>
			<input type="submit" />
		</p>
	</div>
</fieldset>
</form>
