<embed style="width: 1154px; height:212px; padding: 20px;"
       src="<%= luci.dispatcher.build_url( "admin", "san", "monitoring", "render" ) %>?what=front" />
<br/>
<embed style="width: 1159px; height:211px; padding: 20px;"
       src="<%= luci.dispatcher.build_url( "admin", "san", "monitoring", "render" ) %>?what=rear" />
<br/>
<embed style="width: 545px; height: 593px; padding: 20px;"
       src="<%= luci.dispatcher.build_url( "admin", "san", "monitoring", "render" ) %>?what=motherboard" />
