<embed style="width: 1155px; height:262px; padding: 20px;"
       src="<%= luci.dispatcher.build_url( "admin", "san", "monitoring", "render" ) %>?what=front" />
<br/>
<embed style="width: 1159px; height:261px; padding: 20px;"
       src="<%= luci.dispatcher.build_url( "admin", "san", "monitoring", "render" ) %>?what=rear&network=1" />
<br/>
<embed style="width: 545px; height: 643px; padding: 20px;"
       src="<%= luci.dispatcher.build_url( "admin", "san", "monitoring", "render" ) %>?what=motherboard" />
