<% if line.physical.state == "free" then %>
	<li><%: Logical hotspare %>: 
		<select id="san.logical_id_hotspare-<%= line.physical.id %>"
			name="san.logical_id_hotspare-<%= line.physical.id %>"
			size="1" >
			<option value=""></option>
			<% for _, option in ipairs( matrix_overall ) do %>
				<% if option.logical then %>
				<option value="<%= option.logical.id %>"><%= option.logical.id %></option>
				<% end %>
			<% end %>
		</select>
		<input id="san.submit_logical_hotspare_add-<%= line.physical.id %>"
		       name="san.submit_logical_hotspare_add-<%= line.physical.id %>"
		       src="<%=resource%>/cbi/add.gif"
		       title="<%: Add hotspare %>"
		       type="image"
		       value="<%: Add hotspare %>"/>
	</li>
<% end %>
<% if line.physical.state == "hotspare" then %>
	<li>
		<input name="san.submit_logical_hotspare_delete-<%= line.physical.logical_id %>-<%= line.physical.id %>"
		       src="<%=resource%>/cbi/remove.gif"
		       title="<%: Remove hotspare %>"
		       type="image"
		       value="<%: Remove hotspare %>" />
	</li>
<% end %>
