<td valign="top"
    rowspan="<%= line.logical.rowspan %>"
    class="<%+san/matrix_logical_class%>">

<table border="0px" width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<a id="logical_info-<%= line.logical.id %>" href="#"><%= line.logical.id %></a>
		</td>
		<td><%: RAID %> <%= line.logical.level %></td>
		<td><%= line.logical.state %></td>
		<% if line.logical.progress then %>
			<td>(<%= line.logical.progress %> %)</td>
		<% end %>
		<% if #common.keys( line.logical.logical_volumes ) == 0 then %>
			<td>
			<input name="san.submit_logical_delete-<%= line.logical.id %>"
			       onclick=" if ( !confirm( '<%: Really delete logical drive? %>' ) )
					 return false;
					 return true;"
			       src="<%=resource%>/cbi/remove.gif"
			       type="image"
			       title="<%: Remove %>"
			       value="<%: Remove %>" />
			</td>
		<% end %>

	</tr>
	<tr class="to_hide">
		<% local local_colspan = 4
		   if line.logical.progress then
			local_colspan = local_colspan + 1
		   end
		   if #common.keys( line.logical.logical_volumes ) == 0 then
			local_colspan = local_colspan + 1
		end %>
		<td colspan="<%= local_colspan %>">
			<% if line.logical.progress then %>
			<p>
			<label for="logical_progress-<%= line.logical.id %>"><%: Progress %> (%)</label>
			<input id="logical_progress-<%= line.logical.id %>"
			       name="logical_progress-<%= line.logical.id %>"
			       readonly="readonly"
			       type="text"
			       value="<%= line.logical.progress %>" />
			</p>
			<% end %>
			<p>
				xxx /<%= line.logical.capacity %> <%: TiB %>
			</p>
			<p>
			<label for="new_volume_name-<%= line.logical.id %>"><%: New volume %></label>
			<input id="new_volume_name-<%= line.logical.id %>"
			       name="new_volume_name-<%= line.logical.id %>"
			       type="text"
			       value="" />
			</p>

			<div id="new_volume_slider-<%= line.logical.id %>"></div>

			<input id="new_volume_size_text-<%= line.logical.id %>"
			       style="font-weight:bold;"
			       type="text"
			       value="0" />

			<script type="text/javascript">
			jQuery.noConflict();
			(function($){

				$( '#new_volume_slider-<%= line.logical.id %>' ).slider({
					orientation: 'horizontal',
					max: 1000,
					value: 100,
					slide: function( event, ui ) {
						$( "#new_volume_slider_size-<%= line.logical.id %>" ).val( ui.value );
					}
				});

				$( '#new_volume_slider_size-<%= line.logical.id %>' ).val( $( '#new_volume_slider-<%= line.logical.id %>' ).slider( 'value' ) );

				/*alert( 'js-work' );*/
			})(jQuery);
			</script>
		</td>
	</tr>
</table>

</td>
