<form method="post" action="<%= luci.dispatcher.build_url( "san", "perform" ) %>">

<p>
	<input type="button" name="hide_all" value="Hide all information" />
	<input type="button" name="show_all" value="Show all information" />
	<input type="reset" name="reset_form" value="Reset all form" /> 
</p>

<table border="1px" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td><%: Physical drives %></td>
		<td><%: Logical drives %></td>
		<td><%: Logical volumes %></td>
		<td><%: Fourth column %></td>
	</tr>
	<% for _, line_local in ipairs( matrix_overall ) do %>

	<%# Our templates must be able to access locally scoped line_local %>
	<% line = line_local %>

	<tr>
		<% if line.physical then %>
			<%+san/matrix_physical%>
		<% end %>
		<% if line.logical then %>
			<%+san/matrix_logical%>
		<% end %>
		<% if line.logical_volume then %>
			<% if line.logical_volume.is_snapshot() == false then %>
				<%+san/matrix_logical_volume%>
			<% elseif line.logical_volume.is_snapshot() == true then %>
				<%+san/matrix_logical_volume_snapshot%>
			<% else %>
			<% end %>
		<% end %>
	</tr>
	<% end %>
</table>

<%+san/form_logical_add%>

</form>
