<td valign="top"
    rowspan="<%= line.physical.rowspan %>"
    class="<%+san/matrix_physical_class%>">

<table border="0px" width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<% if not line.physical.highlight.left then %>
			<input name="san.physical_id"
			       type="checkbox"
			       value="<%= line.physical.id %>" />
			<% end %>
			<a href="#" id="physical_info-<%= line.physical.id %>"><%= line.physical.id %></a>
		</td>
		<td><%= line.physical.model %></td>
		<td><span title="<%= line.physical.size_mib %> <%: MiB %>"><%= line.physical.size %> <%: TiB %></span></td>
	</tr>
	<tr class="to_hide">
		<td colspan="3">
			<ul>
				<li><%: Model %>: <%= line.physical.model %></li>
				<li><%: S/N %>: <%= line.physical.serial %></li>
				<li><%: Revision %>: <%= line.physical.revision %></li>
				<li><%: State %>: <%= line.physical.state %></li>
				<li><%: Size %>: <%= line.physical.size %> (<%: TiB %>)</li>

				<% for _, this_line in ipairs( matrix_overall ) do %>
					<% if this_line.logical then %>
						<%+san/form_hotspare_add%>
					<% end %>
				<% end %>
			</ul>
		</td>
	</tr>
</table>

</td>
