<td valign="top"
    rowspan="<%= line.logical.rowspan %>"
    class="<%+san/matrix_logical_class%>">

<table border="0px" width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<a id="logical_info-<%= line.logical.id %>" href="#"><%= line.logical.id %></a>
		</td>
		<td><%: RAID %> <%= line.logical.level %></td>
		<td><%= line.logical.state %></td>
		<% if line.logical.progress then %>
			<td>(<%= line.logical.progress %> %)</td>
		<% end %>
		<% if #common.keys( line.logical.logical_volumes ) == 0 then %>
			<td>
			<input name="san.submit_logical_delete-<%= line.logical.id %>"
			       onclick=" if ( !confirm( '<%: Really delete logical drive? %>' ) )
					 return false;
					 return true;"
			       src="<%=resource%>/cbi/remove.gif"
			       type="image"
			       title="<%: Remove %>"
			       value="<%: Remove %>" />
			</td>
		<% end %>
	</tr>
	<tr class="to_hide">
		<% local local_colspan = 4
		   if line.logical.progress then
			local_colspan = local_colspan + 1
		   end
		   if #common.keys( line.logical.logical_volumes ) == 0 then
			local_colspan = local_colspan + 1
		end %>
		<td colspan="<%= local_colspan %>">
			<div>
				<!-- TODO: TiBs and MiBs -->
				<%= line.logical.volume_group.allocated %>
				/
				<%= line.logical.volume_group.total %>
				(<%= line.logical.volume_group.percentage %> %)
			</div>
			<div>
				<label for="san.new_volume_name-<%= line.logical.id %>"><%: New volume %></label>
				<input id="san.new_volume_name-<%= line.logical.id %>"
				       name="san.new_volume_name-<%= line.logical.id %>"
				       type="text"
				       value="" />
			</div>

			<div id="new_volume_slider-<%= line.logical.id %>"></div>

			<div>
				<input id="san.new_volume_slider_size-<%= line.logical.id %>"
				       class="new_volume_slider_size-<%= line.logical.id %>"
				       name="san.new_volume_slider_size-<%= line.logical.id %>"
				       readonly="readonly"
				       type="text"
				       value="0" />
			</div>

			<script type="text/javascript">
			jQuery.noConflict();
			(function($){

				var slider_name = '#new_volume_slider-<%= line.logical.id %>';
				var slider_input_name = '.new_volume_slider_size-<%= line.logical.id %>';

				$( slider_name ).slider({
					orientation: 'horizontal',
					min: 1,
					max: <%= line.logical.capacity_mib %>,
					range: 'min',
					value: <%= line.logical.capacity_mib %> / 2,
					slide: function( event, ui ) {
						$( slider_input_name ).val( ui.value );
					}
				});

				$( slider_input_name )
					.val( $( slider_name )
					.slider( 'value' ) );
			})(jQuery);
			</script>

			<div>
				<input name="san.submit_logical_volume_add-<%= line.logical.id %>-<%= line.logical.volume_group.name %>"
				       src="<%=resource%>/cbi/add.gif"
				       title="<%: Add logical volume %>"
				       type="image"
				       value="<%: Add logical volume %>" />
			</div>
		</td>
	</tr>
</table>

</td>
