<td valign="top"
    rowspan="<%= line.logical_volume.rowspan %>"
    class="<%+san/matrix_logical_volume_class%>">

<table border="0px" width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<%= line.logical_volume.name %>
		</td>
		<td>
			<%= line.logical_volume.size %>
		</td>
		<td>
			<input name="san.submit_logical_volume_remove-<%= line.logical_volume.volume_group.name %>-lv<%= line.logical_volume.name %>"
			       onclick=" if ( !confirm( '<%: Really remove logical volume? %>' ) )
					 return false;
					 return true;"
			       src="<%=resource%>/cbi/remove.gif"
			       type="image"
			       title="<%: Remove logical volume %>"
			       value="<%: Remove logical volume %>" />
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<div>
				xxx /<%= line.logical_volume.size %> <%: TiB %> (<%= line.logical_volume.size_mib %> <%: MiB %> )
			</div>
			<div>
				<%: Resize logical volume %>
			</div>
			<div>
				<div id="new_logical_volume_resize_slider-<%= line.logical_volume.name %>"></div>
			</div>
			<div>
				<input id="new_logical_volume_resize_slider_size-<%= line.logical_volume.name %>"
				       style="font-weight:bold;"
				       type="text"
				       value="0" />
			</div>

			<script type="text/javascript">
			jQuery.noConflict();
			(function($){
				$( '#new_logical_volume_resize_slider-<%= line.logical_volume.name %>' ).slider({
					orientation: 'horizontal',
					min: 1,
					max: <%= line.logical_volume.size_mib %>,
					range: 'min',
					value: <%= line.logical_volume.size_mib %> / 2,
					slide: function( event, ui ) {
						$( "#new_logical_volume_resize_slider_size-<%= line.logical_volume.name %>" ).val( ui.value );
					}
				});

				$( '#new_logical_volume_resize_slider_size-<%= line.logical_volume.name %>' )
					.val( $( '#new_logical_volume_resize_slider-<%= line.logical_volume.name %>' )
					.slider( 'value' ) );
			})(jQuery);
			</script>

			<div>
				<input name="san.submit_logical_volume_resize-<%= line.logical_volume.name %>"
				       onclick=" if ( !confirm( '<%: Really resize logical volume drive? %>' ) )
						 return false;
						 return true;"
				       src="<%=resource%>/cbi/reload.gif"
				       type="image"
				       title="<%: Resize logical volume %>"
				       value="<%: Resize logical volume %>" />
			</div>
			<a id="volume_logical_info-<%= line.logical_volume.name %>" href="#">
				<img src="<%=resource%>/cbi/fieldadd.gif"
				     alt="<%: Snapshot %>"
				     title="<%: Snapshot %>" />
			</a>
		</td>
	</tr>
	<tr class="to_hide">
		<td colspan="3">
			<div>
				<%: Take new snapshot %>
			</div>
			<div>
				<div id="new_logical_volume_snapshot_slider-<%= line.logical_volume.name %>"></div>
			</div>
			<div>
				<input id="new_logical_volume_snapshot_slider_size-<%= line.logical_volume.name %>"
				       style="font-weight:bold;"
				       type="text"
				       value="0" />
			</div>

			<script type="text/javascript">
			jQuery.noConflict();
			(function($){
				$( '#new_logical_volume_snapshot_slider-<%= line.logical_volume.name %>' ).slider({
					orientation: 'horizontal',
					min: 1,
					max: <%= line.logical_volume.size_mib %>,
					range: 'min',
					value: <%= line.logical_volume.size_mib %> / 2,
					slide: function( event, ui ) {
						$( "#new_logical_volume_snapshot_slider_size-<%= line.logical_volume.name %>" ).val( ui.value );
					}
				});

				$( '#new_logical_volume_snapshot_slider_size-<%= line.logical_volume.name %>' )
					.val( $( '#new_logical_volume_snapshot_slider-<%= line.logical_volume.name %>' )
					.slider( 'value' ) );
			})(jQuery);
			</script>

			<div>
				<input name="san.submit_logical_volume_snapshot_add-<%= line.logical_volume.name %>"
				       src="<%=resource%>/cbi/add.gif"
				       title="<%: Add snapshot %>"
				       type="image"
				       value="<%: Add snapshot %>" />
			</div>
		</td>
	</tr>
</table>

</td>
