@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

/* Main */
body {
	background-color: #006B3F;
	color: #FFFFFF;
	font-family: Verdana, Arial, sans-serif;
	font-size: 100%;
}

.errorbox {
	background-color: #FFCCCC;
	border-radius: 3px 3px 3px 3px;
	border: 1px solid #FF0000;
	color: #650E0E;
	padding: 5px;
}

#maincontainer {
	clear: both;
	width: 100%;
}

/* Menubar */
#menubar {
	width: 100%;
	color: #D2D1D0;
}

#menubar .etegro_logo {
	float: left;
}
