@charset "utf-8";

.errorbox {
	background-color: #FFCCCC;
	border-radius: 3px 3px 3px 3px;
	border: 1px solid #FF0000;
	color: #650E0E;
	margin-bottom: 5px;
	padding: 5px;
}

#maincontainer {
	clear: both;
	width: 100%;
}
