@charset "utf-8";

/* Main */
* {
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

body {
	background-color: #383838;
	color: #FFFFFF;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 100%;
}

/* Menubar */
#menubar {
	padding: 20px 20px 0 20px;
	font-size: 90%;
}

#menubar .etegro_logo {
	float: left;
	border-radius: 5px;
	padding: 7px;
	background-color: #006B3F;
/*	box-shadow: #006B3F 0 0 10px;*/
}

.skiplink,
.navigation,
.hidden {
	position: absolute;
	left: -1000px;
	top: -1000px;
	width: 0px;
	height: 0px;
	overflow: hidden;
	display: inline;
}

div.hostinfo {
	float: right;
	padding: 10px;
}

#menubar #savemenu a {
	border-radius: 5px;
	color: #F2F1F0;
	float: right;
	font-weight: normal;
	padding: 10px;
	text-decoration: none;
}

html #menubar a:link,
html #menubar a:visited {
	color: #F2F1F0;
}

#menubar #savemenu a:link:hover,
#menubar #savemenu a:visited:hover,
#menubar #savemenu a:link:active,
#menubar #savemenu a:visited:active,
#menubar #savemenu a:link:focus,
#menubar #savemenu a:visited:focus {
	color: #0CA728;
}

#menubar #savemenu a:link.active,
#menubar #savemenu a:visited.active,
#menubar #savemenu a:link.preactive,
#menubar #savemenu a:visited.preactive {
	background-color: #000000;
	color: #ffff00;
	font-weight: bold;
}

#menubar #savemenu a:link.warning,
#menubar #savemenu a:visited.warning {
	background-color: #000000;
	color: #FF0000;
	font-weight: bold;
}

/* Maincontainer */
#maincontainer {
	clear: both;
	width: 100%;
}

/* Tab menu */
#tabmenu {
	margin: 15px;
}

ul.tabmenu {
	margin: 0;
	float: right;
	clear: both;
	display: block;
	vertical-align: bottom;
	font-size: 85%;
}

ul.tabmenu li {
	float: left;
	display: block;
	overflow: hidden;
}

ul.tabmenu li a {
	display: block;
	padding: 5px 10px 10px;
	text-decoration: none;
	margin-left: 15px;
}

ul.tabmenu.l1 li a {
	color: #F2F1F0;
}

ul.tabmenu.l1 li a:hover,
ul.tabmenu.l1 li.active a {
	background-color: #0CA728;
	border-radius: 5px 5px;
	color: #F2F1F0;
}

ul.tabmenu.l1 li.tabmenu-item-logout a {
	margin-left: 50px;
}

div.tabmenu2 {
	background-color: #0CA728;
	border-radius: 5px;
	margin-top: -6px;
}

div.tabmenu2 li a {
	color: #F2F1F0;
	font-size: 90%;
	font-weight: bold;
	padding: 5px 5px 10px;
}

ul.tabmenu.l2 li a:hover,
ul.tabmenu.l2 li.active a {
	color: #383838;
/*	text-shadow: #006B3F 0px 0 3px;*/
}

div.tabmenu3 {
	margin-bottom: -10px;
}

div.tabmenu3,
div.tabmenu4,
div.tabmenu5 {
	background-color: #383838;
}

div.tabmenu3 li,
div.tabmenu4 li,
div.tabmenu5 li {
	margin-top: -5px;
}

div.tabmenu3 li a,
div.tabmenu4 li a,
div.tabmenu5 li a {
	color: #F2F1F0;
	padding: 10px 10px 5px;
}

div.tabmenu3 li a {
	font-size: 80%;
}

ul.tabmenu.l3 li a:hover,
ul.tabmenu.l3 li.active a {
	background-color: #0CA728;
	border-radius: 0 0 5px 5px;
}

div.errorbox,
div.error {
	font-size: 100%;
	background-color: #FFCCCC;
	border-radius: 5px;
	border: 1px solid #FF0000;
	color: #650E0E;
	margin: 0 0 15px;
	padding: 10px;
}

/* Maincontent */
#maincontent {
	background-color: #F2F1F0;
	border-radius: 5px;
	color: #000000;
	margin: 15px;
	padding: 5px;
}

#maincontent h2 {
	border-bottom: 1px solid;
	color: #0CA728;
	font-size: 120%;
	font-weight: bold;
	margin: 0 0 10px;
}

#maincontent h3 {
	color: #006B3F;
	font-size: 100%;
	font-style: italic;
	font-weight: bold;
}

#maincontent h2,
#maincontent h3 {
	padding: 5px 10px;
}

#maincontent h2 a,
#maincontent h3 a {
	color: inherit;
}

#maincontent p {
	margin-bottom: 0.5em;
	font-size: 85%;
	padding: 5px 10px;
}

#maincontent a {
	color: #006B3F;
}

/* UCI change list and legend */
div.uci-change-list {
	font-family: monospace;
}

div.uci-change-list ins,
div.uci-change-legend-label ins {
	text-decoration: none;
	border: 1px solid #00FF00;
	background-color: #CCFFCC;
	display: block;
	padding: 2px;
	border-radius: 5px;
}

div.uci-change-list del,
div.uci-change-legend-label del {
	text-decoration: none;
	border: 1px solid #FF0000;
	background-color: #FFCCCC;
	display: block;
	font-style: normal;
	padding: 2px;
	border-radius: 5px;
}

div.uci-change-list var,
div.uci-change-legend-label var {
	text-decoration: none;
	border: 1px solid #CCCCCC;
	background-color: #EEEEEE;
	display: block;
	font-style: normal;
	padding: 2px;
	border-radius: 5px;
}

div.uci-change-list ins,
div.uci-change-list del,
div.uci-change-list var {
	padding: 10px;
}

div.uci-change-list var ins,
div.uci-change-list var del {
	border: none;
	white-space: pre;
	font-style: normal;
	padding: 0px;
}

div.uci-change-legend {
	padding: 10px;
}

div.uci-change-legend-label {
	width: 150px;
	float: left;
	font-size: 80%;
}

div.uci-change-legend-label > ins,
div.uci-change-legend-label > del,
div.uci-change-legend-label > var {
	float: left;
	margin-right: 4px;
	width: 10px;
	height: 10px;
	display: block;
	border-radius: 10px;
}

div.uci-change-legend-label var ins,
div.uci-change-legend-label var del {
	line-height: 6px;
	border: none;
}

/* cbi-section */
div.cbi-map {
	background-color: #F2F1F0;
}

fieldset.cbi-section {
	background-color: #FFFFFF;
	border-radius: 5px;
	border: 1px solid #006B3F;
	color: #000000;
	font-size: 85%;
	margin-bottom: 0.5em;
	padding: 0.5em 1em;
}

fieldset.cbi-section legend {
	background-color: #FFFFFF;
	font-weight: bold;
	color: #006B3F;
	border-radius: 5px;
	padding: 5px 10px;
}

div.cbi-map-descr {
	font-size: 85%;
	margin: 0 10px 5px;
}

/* Syslog */
div#content_syslog {
}

textarea#syslog {
	width: 98%;
	min-height: 500px;
	border: 3px solid #006B3F;
	padding: 5px;
	font-family: monospace;
	background-color: #000000;
	color: #20F312;
}

/* cbi-tabmenu */
#maincontent ul.cbi-tabmenu {
	margin-left: 0 !important;
	list-style-type: none;
}

#maincontent ul.cbi-tabmenu li.cbi-tab,
#maincontent ul.cbi-tabmenu li.cbi-tab-disabled {
	display: inline;
}

#maincontent ul.cbi-tabmenu li.cbi-tab a {
	background-color: #0CA728 !important;
	border: #0CA728 1px solid;
	border-radius: 5px 5px 0 0;
	color: #000000 !important;
	padding: 5px 10px 10px;
	position: relative;
	text-decoration: none;
}

#maincontent ul.cbi-tabmenu li.cbi-tab-disabled a {
}

/*
#maincontent ul.cbi-tabmenu li.cbi-tab-highlighted a {
	color: #000000;
	background-color: #FFEEAA;
}
*/

#maincontent ul.cbi-tabmenu li.cbi-tab a:hover {
	color: #FFFFFF !important;
	background-color: #0CA728 !important;
	border: #0CA728 1px solid;
}
