<form id="form_physical" method="post" action="<%=luci.dispatcher.build_url("san", "einarc_logical_add")%>">

<table border="1" cellpadding="0" cellspacing="0">
	<% for _, pair in ipairs( physical_logical_matrix ) do %>
	<tr>
		<td>
			<table border="0" cellpadding="0" cellspacing="10px">
				<tr>
					<td><input type="checkbox" name="drives" value="<%= pair.physical_id %>" /></td>
					<td><%= pair.physical_id %></td>
					<td><%= physicals[ pair.physical_id ].state %></td>
					<td><%= physicals[ pair.physical_id ].size %></td>
				</tr>
			</table>
		</td>
		<% if pair.logical_id then %>
		<td rowspan="<%= pair.logical_size %>">
			<table border="0" cellpadding="0" cellspacing="10px">
			<tr>
				<td><input type="checkbox" name="name_logical" value="<%= pair.logical_id %>" /></td>
				<td><%= pair.logical_id %></td>
				<td><%= logicals[ pair.logical_id ].level %></td>
				<td><%= logicals[ pair.logical_id ].state %></td>
				<% if logicals[ pair.logical_id ].progress then %>
				<td><%= logicals[ pair.logical_id ].progress %> % </td>
				<% end %>
				<td><%= logicals[ pair.logical_id ].capacity %> MiB </td>
			</tr>
			</table>
		</td>
		<% end %>
	</tr>
	<% end %>
</table>

<div id="div_raid_level" class="to_hide">
	<p><%: RAID level %>:
		<select name="raid_level" size="1">
			<% for _, raidlevel in ipairs( raidlevels ) do %>
			<option value="<%= raidlevel %>"><%= raidlevel %></option>
			<% end %>
		</select>
	</p>
</div>


<div id="submit_button" class="to_hide">
	<p>
		<input type="submit" />
	</p>
</div>
<div id="logical_info" class="to_hide2">Logical info</div>
</form>

<script type="text/javascript">

$('.to_hide').hide();
$('.to_hide2').hide();

//$("#object").attr("checked")

$('form input:checkbox[name="drives"]').click( function() {
	if ($('form input:checkbox[name="drives"]').is(":checked")) {
		$('.to_hide').fadeIn('slow', function() {
			// complete.
		});
	} else {
		$('.to_hide').fadeOut('slow');
	}
});

$('form input:checkbox[name="name_logical"]').click( function() {
	if ($('form input:checkbox[name="name_logical"]').is(":checked")) {
		$('.to_hide2').fadeIn('slow', function() {
			// complete.
		});
	} else {
		$(".to_hide2").fadeOut('slow');
	}
});

/*prot
$$(".to_hide").each(function( element ) {
	element.hide() } );
*/

</script>
