<form method="post" action="<%=luci.dispatcher.build_url("san", "san_functions")%>">

<input type="button" name="hide_all" value="Hide all information" /> 
<input type="reset" name="reset_form" value="Reset all form" /> 

<table border="1px" bordercolor="#ccc" cellpadding="0" cellspacing="0">
	<tr>
		<td>Physical list</td>
		<td>Logical list</td>
	</tr>
	<% for _, pair in ipairs( physical_logical_matrix ) do %>
	<tr>
		<td valign="top">
			<table border="0px" width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<td class="border-top-left"><input type="checkbox" name="checkbox_drive" value="<%= pair.physical_id %>" /></td>
					<td class="border-top"><%= pair.physical_id %></td>
					<td class="border-top"><%= physicals[ pair.physical_id ].model %></td>
					<td class="border-top"><%= physicals[ pair.physical_id ].size %> MiB</td>
					<td class="border-top"><a id="physical_id_info" href="#">(info)</a></td>
				</tr>
				<tr class="to_hide">
					<td colspan="4" class="border-left">
						<ul>
							<li><tt><%:ID%>: <%= pair.physical_id %></tt></li>
							<li><tt><%:Model%>: <%= physicals[ pair.physical_id ].model %></tt></li>
							<li><tt><%:Serial%>: <%= physicals[ pair.physical_id ].serial %></tt></li>
							<li><tt><%:Revision%>: <%= physicals[ pair.physical_id ].revision %></tt></li>
							<li><tt><%:State%>: <%= physicals[ pair.physical_id ].state %></tt></li>
							<li><tt><%:Size%>: <%= physicals[ pair.physical_id ].size %>MiB</tt></li>
						</ul>
					</td>
				</tr>
			</table>
		</td>
		<% if pair.logical_id then %>
		<td rowspan="<%= pair.logical_size %>" valign="top" class="border-top-right-bottom">
			<table border="0px" width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<td><input type="checkbox" name="checkbox_logical" value="<%= pair.logical_id %>" /></td>
					<td><%= pair.logical_id %></td>
					<td><%:RAID%>: <%= logicals[ pair.logical_id ].level %></td>
					<td><%= logicals[ pair.logical_id ].state %></td>
					<% if logicals[ pair.logical_id ].progress then %>
						<td><%= logicals[ pair.logical_id ].progress %> % </td>
					<% end %>
					<td><%= logicals[ pair.logical_id ].capacity %> MiB </td>
					<td><a id="logical_id_info" href="#">(info)</a></td>
				</tr>
				<tr class="to_hide2">
					<% local colspan_logical
					if logicals[ pair.logical_id ].progress then
						colspan_logical = 7
					else
						colspan_logical = 6
					end %>
					<td colspan="<%= colspan_logical %>">
						<ul>
							<li><tt><%:ID%>: <%= pair.logical_id %></tt</li>
							<li><tt><%:RAID level%>: <%= logicals[ pair.logical_id ].level %></tt</li>
							<li><tt><%:State%>: <%= logicals[ pair.logical_id ].state %></tt</li>
							<li><tt><%:Drives%>: <%= table.concat( logicals[ pair.logical_id ].drives, ", " ) %></tt</li>
							<% if logicals[ pair.logical_id ].progress then %>
								<li><tt><%= logicals[ pair.logical_id ].progress %> % </tt></li>
							<% end %>
							<li><tt><%:Device%>: <%= logicals[ pair.logical_id ].device %></tt</li>
							<li><tt><%:Size%>: <%= logicals[ pair.logical_id ].capacity %> MiB</tt</li>
						</ul>
						<ul class="to_hide2">
							<li><input type="submit" name="submit_einarc" value="Logical Delete" /></li>
						</ul>
					</td>
				</tr>
			</table>
		</td>
		<% end %>
	</tr>
	<% end %>
</table>

<div id="div_raid_create" class="to_hide">
	<p><%: RAID level %>:
		<select name="raid_level" size="1">
			<% for _, raidlevel in ipairs( raidlevels ) do %>
			<option value="<%= raidlevel %>"><%= raidlevel %></option>
			<% end %>
		</select>
	</p>
	<p>
		<input type="submit" name="submit_einarc" value="Create RAID" />
	</p>
</div>
</form>

<script type="text/javascript">
jQuery.noConflict();
(function($) {

// effects

// Hide all elements with class "to_hide*".
$( '[ class ^= "to_hide" ]' ).hide();

// Hide all on click button "Hide all".
$( 'input[ name = "hide_all" ]' ).click( function() {
	$( 'table [ class ^= "to_hide" ]' ).fadeOut();
} );

// Hide/show form for "Create RAID".
$( 'form input:checkbox[ name = "checkbox_drive" ]' ).click( function() {
	if ( $( this ).is( ':checked' ) ) {
		$( '#div_raid_create' ).fadeIn( 'fast' );
	} else {
		if ( $( 'form input:checkbox[ name = "checkbox_drive" ]' ).is( ':checked' ) ) {
		} else {
			$( '#div_raid_create' ).fadeOut( 'fast' );
		}
	}
} );

// Hide/show button "Logical delete".
$( 'form input:checkbox[ name = "checkbox_logical" ]' ).click( function() {
	var parent_selector = $( this ).parent( 'td' ).parent( 'tr' ).next( 'tr' ).find( 'ul.to_hide2' ).css( 'background-color', 'green' );
	if ( $( this ).is( ':checked' ) ) {
		$( parent_selector ).fadeIn( 'fast' );
	} else {
		$( parent_selector ).fadeOut( 'fast' );
	}
} );

// Hide/show information of physicals and logicals.
$( 'form a[ id $=_id_info ]' ).click( function() {
	var parent_selector = $( this ).parent( 'td' ).parent( 'tr' ).next( 'tr' ).css( 'background-color', 'yellow' );
	if ( $( parent_selector ).is( ':hidden' ) ) {
		$( parent_selector ).fadeIn( 'fast' );
	} else {
		$( parent_selector ).fadeOut( 'fast' );
	}
} );

//styles

/*
$( 'td.border' ).css( 'background-color', '#f0f' )
$( 'td.border-top-left' ).css( {
	'border-width': '10px 0 0 10px',
	'border-style': 'solid',
	'border-color': '#f0f' } )
$( 'td.border-top' ).css( {
	'border-width': '10px 0 0 0',
	'border-style': 'solid',
	'border-color': '#f0f' } )
$( 'td.border-top-right' ).css( {
	'border-width': '10px 10px 0 0',
	'border-style': 'solid',
	'border-color': '#f0f' } )
$( 'td.border-top-right-bottom' ).css( {
	'border-width': '10px 10px 10px 0',
	'border-style': 'solid',
	'border-color': '#f0f' } )
$( 'td.border-left' ).css( {
	'border-width': '0 0 0 10px',
	'border-style': 'solid',
	'border-color': '#f0f' } )
*/

})(jQuery);
</script>
