<form method="post" action="<%=luci.dispatcher.build_url("san", "san_functions")%>">
<p>
	<input type="button" name="hide_all" value="Hide all information" />
	<input type="button" name="show_all" value="Show all information" />
	<input type="reset" name="reset_form" value="Reset all form" /> 
</p>

<table border="1px" cellpadding="0" cellspacing="0">
	<tr>
		<td>Physical list</td>
		<td>Logical list</td>
	</tr>
	<% for _, pair in ipairs( physical_logical_matrix ) do %>
	<tr>
		<td valign="top">
			<table border="0px" width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<td><input name="checkbox_drive"
						   type="checkbox"
						   value="<%= pair.physical_id %>" /></td>
					<td><%= pair.physical_id %></td>
					<td><%= physicals[ pair.physical_id ].model %></td>
					<td><%= physicals[ pair.physical_id ].size %> <%: MiB %></td>
					<td><a id="physical_info-<%= pair.physical_id %>" href="#">(info)</a></td>
				</tr>
				<tr class="to_hide">
					<td colspan="4" class="border-left">
						<p><input id="physical_id-<%= pair.physical_id %>"
						       name="physical_id-<%= pair.physical_id %>"
						       readonly="readonly"
						       type="hidden"
						       value="<%= pair.physical_id %>" /></p>

						<p><label for="physical_model-<%= pair.physical_id %>"><%: Model %></label>
						<input id="physical_model-<%= pair.physical_id %>"
						       name="physical_model-<%= pair.physical_id %>"
						       readonly="readonly"
						       type="text"
						       value="<%= physicals[ pair.physical_id ].model %>" /></p>

						<p><label for="physical_serial-<%= pair.physical_id %>"><%: S/N %></label>
						<input id="physical_serial-<%= pair.physical_id %>"
						       name="physical_serial-<%= pair.physical_id %>"
						       readonly="readonly"
						       type="text"
						       value="<%= physicals[ pair.physical_id ].serial %>" /></p>

						<p><label for="physical_revision-<%= pair.physical_id %>"><%: Revision %></label>
						<input id="physical_revision-<%= pair.physical_id %>"
						       name="physical_revision-<%= pair.physical_id %>"
						       readonly="readonly"
						       type="text"
						       value="<%= physicals[ pair.physical_id ].revision %>" /></p>

						<p><label for="physical_state-<%= pair.physical_id %>"><%: State %></label>
						<input id="physical_state-<%= pair.physical_id %>"
						       name="physical_state-<%= pair.physical_id %>"
						       readonly="readonly"
						       type="text"
						       value="<%= physicals[ pair.physical_id ].state %>" /></p>

						<p><label for="physical_size-<%= pair.physical_id %>"><%: Size %> (<%: MiB %>)</label>
						<input id="physical_size-<%= pair.physical_id %>"
						       name="physical_size-<%= pair.physical_id %>"
						       readonly="readonly"
						       type="text"
						       value="<%= physicals[ pair.physical_id ].size %>" /></p>
					</td>
				</tr>
			</table>
		</td>
		<% if pair.logical_id then %>
		<td rowspan="<%= pair.logical_size %>" valign="top" class="border-top-right-bottom">
			<table border="0px" width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<td><input name="checkbox_logical"
						   type="checkbox"
						   value="<%= pair.logical_id %>" /></td>
					<td><%= pair.logical_id %></td>
					<td><%: RAID %>: <%= logicals[ pair.logical_id ].level %></td>
					<td><%= logicals[ pair.logical_id ].state %></td>
					<% if logicals[ pair.logical_id ].progress then %>
						<td><%= logicals[ pair.logical_id ].progress %> %</td>
					<% end %>
					<td><%= logicals[ pair.logical_id ].capacity %> <%: MiB %></td>
					<td><a id="logical_info-<%= pair.logical_id %>" href="#">(info)</a></td>
				</tr>
				<tr class="to_hide2">
					<% local colspan_logical
					if logicals[ pair.logical_id ].progress then
						colspan_logical = 7
					else
						colspan_logical = 6
					end %>
					<td colspan="<%= colspan_logical %>">

						<p><input id="logical_id-<%= pair.logical_id %>"
						       name="logical_id-<%= pair.logical_id %>"
						       readonly="readonly"
						       type="hidden"
						       value="<%= pair.logical_id %>" /></p>

						<p><label for="logical_level-<%= pair.logical_id %>"><%: RAID level %></label>
						<input id="logical_level-<%= pair.logical_id %>"
						       name="logical_level-<%= pair.logical_id %>"
						       readonly="readonly"
						       type="text"
						       value="<%= logicals[ pair.logical_id ].level %>" /></p>

						<p><label for="logical_state-<%= pair.logical_id %>"><%: State %></label>
						<input id="logical_state-<%= pair.logical_id %>"
						       name="logical_state-<%= pair.logical_id %>"
						       readonly="readonly"
						       type="text"
						       value="<%= logicals[ pair.logical_id ].state %>" /></p>

						<p><label for="logical_drives-<%= pair.logical_id %>"><%: Drives %></label>
						<input id="logical_drives-<%= pair.logical_id %>"
						       name="logical_drives-<%= pair.logical_id %>"
						       readonly="readonly"
						       type="text"
						       value="<%= table.concat( logicals[ pair.logical_id ].drives, ", " ) %>" /></p>

						<% if logicals[ pair.logical_id ].progress then %>
							<p><label for="logical_progress-<%= pair.logical_id %>"><%: Progress %> (%)</label>
							<input id="logical_progress-<%= pair.logical_id %>"
							       name="logical_progress-<%= pair.logical_id %>"
							       readonly="readonly"
							       type="text"
							       value="<%= logicals[ pair.logical_id ].progress %>" /></p>
						<% end %>

						<p><label for="logical_device-<%= pair.logical_id %>"><%: Device %></label>
						<input id="logical_device-<%= pair.logical_id %>"
						       name="logical_device-<%= pair.logical_id %>"
						       readonly="readonly"
						       type="text"
						       value="<%= logicals[ pair.logical_id ].device %>" /></p>

						<p><label for="logical_capacity-<%= pair.logical_id %>"><%: Size %> (<%: MiB %>)</label>
						<input id="logical_capacity-<%= pair.logical_id %>"
						       name="logical_capacity-<%= pair.logical_id %>"
						       readonly="readonly"
						       type="text"
						       value="<%= logicals[ pair.logical_id ].capacity %>" /></p>

						<p class="to_hide2">
							<input name="submit_einarc"
							       onclick=" if ( !confirm( '<%: Really delete logical drive? %>' ) )
									 return false;
								         return true;"
							       type="submit"
							       value="Logical Delete" />
						</p>
					</td>
				</tr>
			</table>
		</td>
		<% end %>
	</tr>
	<% end %>
</table>

<div id="div_raid_create" class="to_hide">
	<p><%: Drives to RAID %>:
		<input name="drives_to_raid_list"
		       readonly="readonly"
		       type="text"
		       value="<%: Please, selected drives %>" />
	</p>
	<p><%: RAID level %>:
		<select name="raid_level" size="1">
			<% for _, raidlevel in ipairs( raidlevels ) do %>
				<option value="<%= raidlevel %>"><%= raidlevel %></option>
			<% end %>
		</select>
	</p>
	<p>
		<input name="submit_einarc"
		       type="submit"
		       value="Create RAID" />
	</p>
</div>
</form>

<script type="text/javascript">
jQuery.noConflict();
(function($) {

// effects

// Hide all elements with class "to_hide*".
$( '[ class ^= "to_hide" ]' ).hide();

// Hide all on click button "Hide all".
$( 'input[ name = "hide_all" ]' ).click( function() {
	$( '[ class ^= "to_hide" ]' ).fadeOut();
} );

// Show all on click button "Show all".
$( 'input[ name = "show_all" ]' ).click( function() {
	$( '[ class ^= "to_hide" ]' ).fadeIn();
} );

// Hide/show form for "Create RAID".
$( 'form input:checkbox[ name = "checkbox_drive" ]' ).click( function() {
	if ( $( this ).is( ':checked' ) ) {
		$( '#div_raid_create' ).fadeIn( 'fast' );
	} else {
		if ( $( 'form input:checkbox[ name = "checkbox_drive" ]' ).is( ':checked' ) ) {
		} else {
			$( '#div_raid_create' ).fadeOut( 'fast' );
		}
	}

	// Physicals drives to RAID.
	var drives_list_to_raid = $.makeArray(
		$( 'form input:checkbox[ name = "checkbox_drive" ]:checked:' )
			.map( function() { return $( this ).attr( 'value' ); } 	)
		).join( ', ' );
	$( 'form input:text[ name = "drives_to_raid_list" ]' ).val( drives_list_to_raid );
} );

// Hide/show button "Logical delete".
$( 'form input:checkbox[ name = "checkbox_logical" ]' ).click( function() {
	var parent_selector = $( this ).parent( 'td' ).parent( 'tr' ).next( 'tr' ).find( 'p.to_hide2' ).css( 'background-color', 'green' );
	var checkbox_to_disable = $( 'form input:checkbox[ name = "checkbox_logical" ]' ).not( this );
	if ( $( this ).is( ':checked' ) ) {
		$( parent_selector ).fadeIn( 'fast' );
		$( checkbox_to_disable ).attr( 'disabled', 'disabled' );
	} else {
		$( parent_selector ).fadeOut( 'fast' );
		$( checkbox_to_disable ).removeAttr( 'disabled' );
	}
} );

// Hide/show information of physicals and logicals.
$( 'form a[ id *= "ical_info-" ]' ).click( function() {
	var parent_selector = $( this ).parent( 'td' ).parent( 'tr' ).next( 'tr' ).css( 'background-color', 'yellow' );
	if ( $( parent_selector ).is( ':hidden' ) ) {
		$( parent_selector ).fadeIn( 'fast' );
	} else {
		$( parent_selector ).fadeOut( 'fast' );
	}
} );

//styles

/*
$( 'td.border' ).css( 'background-color', '#f0f' )
$( 'td.border-top-left' ).css( {
	'border-width': '10px 0 0 10px',
	'border-style': 'solid',
	'border-color': '#f0f' } )
$( 'td.border-top' ).css( {
	'border-width': '10px 0 0 0',
	'border-style': 'solid',
	'border-color': '#f0f' } )
$( 'td.border-top-right' ).css( {
	'border-width': '10px 10px 0 0',
	'border-style': 'solid',
	'border-color': '#f0f' } )
$( 'td.border-top-right-bottom' ).css( {
	'border-width': '10px 10px 10px 0',
	'border-style': 'solid',
	'border-color': '#f0f' } )
$( 'td.border-left' ).css( {
	'border-width': '0 0 0 10px',
	'border-style': 'solid',
	'border-color': '#f0f' } )
*/

})(jQuery);
</script>
